@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@300&family=Caveat&family=Fira+Sans:ital@1&family=Hanuman:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

.container {
  width: 75%;
  margin: auto;
  height: 250px;
  border: 1px solid #94a3b8;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  font-family: "Poppins", sans-serif;
}
.container .img {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container .img img {
  transition: all 0.6s;
}
.container .img:hover img {
  transform: scale(1.1);
}
.container .info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .info .header {
  width: 100%;
  height: 35%;
  border-bottom: 2px solid #cbd5e1;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.container .info .header .category {
  width: 70%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
}
.container .info .header .price_button {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.container .info .header .price_button .price {
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.container .info .header .price_button .price span {
  color: red;
  border: 1px solid red;
  width: 28px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.container .info .header .price_button .button {
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container .info .header .price_button .button .incre,
.container .info .header .price_button .button .decre {
  background-color: #334155;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  transition: all 0.5s;
}
.container .info .header .price_button .button .incre:hover,
.container .info .header .price_button .button .decre:hover {
  background-color: white;
  border: 2px solid #334155;
  color: black;
  cursor: pointer;
}
.container .info .header .price_button .button .incre:active,
.container .info .header .price_button .button .decre:active {
  background-color: black;
  color: white;
}
.container .info .header .price_button .button .zero {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .info .description {
  width: 100%;
  height: 80%;
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
  font-size: 15px;
}
.container .info .description h1 {
  font-size: 18px;
  font-weight: 700;
}
