@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@300&family=Caveat&family=Fira+Sans:ital@1&family=Hanuman:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

.container {
  width: 370px;
  height: 520px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.container .category {
  width: 100%;
  height: 10%;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 20px;
}
.container .img {
  border-top: 2px solid yellow;
  width: 100%;
  height: 55%;
  padding: 10px;
  overflow: hidden;
}
.container .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.4s;
}
.container .img:hover img {
  transform: scale(1.1);
}
.container .id_price {
  display: flex;
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
}
.container .id_price .id {
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 8px 0;
  background-color: #334155;
  color: white;
  font-weight: 300;
}
.container .id_price .price {
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 8px 0;
  background-color: yellow;
  border-left: 2px solid yellow;
  font-weight: 300;
}
.container .title {
  margin-top: 20px;
  width: 80%;
  height: 15%;
  margin: auto;
  align-items: center;
  padding-top: 7px;
  font-size: 15px;
}
.container .more_cart {
  width: 100%;
  height: 11%;
  display: flex;
  border-top: 2px solid yellow;
}
.container .more_cart .more {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container .more_cart .more a {
  background-color: yellow;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.5s;
}
.container .more_cart .more a:hover {
  background-color: white;
  cursor: pointer;
  border: #334155 2px solid;
  color: black;
}
.container .more_cart .more a:active {
  background-color: black;
  color: aliceblue;
}
.container .more_cart .cart {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .more_cart .cart .minus,
.container .more_cart .cart .add {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #334155;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  font-size: 18px;
  transition: all 0.4s;
}
.container .more_cart .cart .minus:hover,
.container .more_cart .cart .add:hover {
  border: #334155 2px solid;
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}
.container .more_cart .cart .minus:active,
.container .more_cart .cart .add:active {
  background-color: black;
}
.container .more_cart .cart .zero {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
.container .more_cart .cart .icon {
  width: 25px;
  height: 25px;
  color: #334155;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 350px;
    height: 500px;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 340px;
    height: 480px;
  }
  .container .category {
    font-size: 17px;
  }
  .container .img {
    height: 50%;
  }
  .container .title {
    height: 20%;
    font-size: 14px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 300px;
    height: 420px;
  }
  .container .category {
    font-size: 17px;
  }
  .container .img {
    height: 50%;
  }
  .container .title {
    height: 20%;
    font-size: 13px;
  }
  .container .id_price {
    width: 100%;
    height: 8%;
    font-size: 14px;
  }
  .container .id_price .id,
  .container .id_price .price {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .container {
    width: 230px;
    height: 330px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .container .category {
    font-size: 14px;
  }
  .container .img {
    height: 45%;
  }
  .container .title {
    height: 25%;
    font-size: 10px;
  }
  .container .id_price {
    width: 100%;
    height: 8%;
    font-size: 12px;
  }
  .container .id_price .id,
  .container .id_price .price {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .more_cart .more a {
    background-color: yellow;
    padding: 3px 10px;
    font-size: 10px;
  }
  .container .more_cart .cart .minus,
  .container .more_cart .cart .add {
    width: 20px;
    height: 20px;
    font-size: 13px;
  }

  .container .more_cart .cart .zero {
    width: 14px;
    height: 14px;
    font-size: 15px;
  }
  .container .more_cart .cart .icon {
    width: 16px;
    height: 16px;
  }
}
